<div class="row custom-table-position">
  <div class="col-md-7 col-md-offset-2">
    <div class="well">
      <h2>Edit Profile</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <label for="nameField" class="col-xs-3">Full Name</label>
          <div class="col-xs-9">
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name', required: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="nameField" class="col-xs-3">Email</label>
          <div class="col-xs-9">
            <%= text_field_tag :email, current_teacher.email, disabled: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label for="nameField" class="col-xs-3">Password</label>
          <div class="col-xs-9">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <em>leave blank if you don't want to change it</em>
          </div>
        </div>
        <div class="form-group">
          <label for="nameField" class="col-xs-3">Password Confirmation</label>
          <div class="col-xs-9">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-9"></div>
          <div class="col-xs-3">
            <%= f.submit "Update", class: 'btn btn-primary pull-right' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
