<div class="row">
<div class="col-md-4 col-md-offset-4">
  <div class="well">
    <div class="form-group" style="text-align: center;">
      <%= image_tag("sign_in_logo_MarkMatelogo.png", style: "") %>
      <p>Create account to see it in action.</p>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
    <div class = "col-md-offset-5">
      <div class="actions">
        <%= f.submit  "Sign Up", class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
