<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <div class="well">
        <div class="form-group" style="text-align: center;">
          <%= image_tag("sign_in_logo_MarkMatelogo.png", style: "") %>
          <p>Create account to see it in action.</p>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'form-horizontal'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <label for="nameField" class="col-xs-3">Full Name</label>
          <div class="col-xs-9">
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name', required: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="nameField" class="col-xs-3">Email</label>
          <div class="col-xs-9">
            <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'Email', required: true %>
          </div>
        </div>
        <%= f.hidden_field :role, value: 'HeadTeacher'%>
        <div class="form-group">
          <label for="nameField" class="col-xs-3">Password</label>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <div class="col-xs-9">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', required: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="nameField" class="col-xs-3">Confirm Password</label>
          <div class="col-xs-9">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control',placeholder: 'Password Confirmation', required: true %>
          </div>
        </div>
        <hr>
        <div style="color: red">Teachers accounts required</div>
        <div class="form-group" style="padding-top: 2px;">
          <div class="col-xs-9" style="padding-left: 0px;">
            <div for="nameField" class="col-xs-12">Individual £19.99/Month
            <div class="btn-group" data-toggle="buttons-radio">
              <%= radio_button_tag :period, "monthly" %>
              <label for="first" class="">Montly</label>
              <%= radio_button_tag :period, "yearly", checked: true %>
              <label for="second" class="">Yearly</label>
            </div></div>
            <div for="nameField" class="col-xs-12">2-5 Teachers £189/Year</div>
            <div for="nameField" class="col-xs-12">6-10 Teachers £159/Year</div>
            <div for="nameField" class="col-xs-12">11-20 Teachers £139/Year</div>
          </div>
          <div class="col-xs-3">
            <%#= select_tag :no_of_printer,  options_for_select(%w{ 1 2 3 4}) %>
            <%= number_field_tag :users, '1', style: "width: 35%;", min: "1", opacity: 1; %><span style="padding-left: 2px; color:red;">X</span><span style="padding-left: 2px;">£</span><span id="money">199</span>
          </div> 
        </div>
        <hr>
        <div class="form-group">
          <div class="col-xs-9">Numbers of printers required</div>
          <div class="col-xs-3">
            <%#= select_tag :no_of_printer,  options_for_select(%w{ 1 2 3 4}) %>
            <%= number_field_tag :no_of_printer, '1', style: "width: 35%;", min: "0", max: '1' %><span style="padding-left: 2px; color:red;">X</span><span style="padding-left: 2px;">£</span><span id="printer_money" >39.99</span>
          </div> 
        </div>
        <hr>
        <div class="form-group">
          <div class="col-xs-9">Total</div>
          <div class="col-xs-3">
            £<span id="total">39.99</span>/<span id="convert">Year</span>
            <%= hidden_field_tag "total_price", '', id: 'total_price' %>
          </div> 
        </div>
        <hr>
        <div class="form-group">
          <div class="col-xs-9">Total due today</div>
          <div class="col-xs-3">
            £<span id="total_calculation">39.99</span>
            <%= hidden_field_tag "total_calculation", '', id: 'total_amount' %>
          </div> 
        </div>
        <hr>
        <div class="form-group">
          <div class="col-xs-9"></div>
          <div class="col-xs-3">
            <%= f.submit  "Pay Now", class: 'btn btn-primary btn-sm' %>
          </div> 
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  
  calculation();
  total_calculation();
  $("#no_of_printer").on("input",function(e){ 
    total_calculation();
  })
  $("#users").on("input",function(e){
    value = $("#users").val()
    if (['1'].includes(value)) {
      $("#money").text("199")
      $("#no_of_printer").attr({
         "max" : value
      });
      $("#period_yearly").attr('checked', 'checked');
      $("#convert").text('Year')
      calculation();
      total_calculation();
    } else if(['2','3','4','5'].includes(value)) {
      $("#period_yearly").prop('checked', true);
      $("#convert").text('Year')
      $("#money").text("189")
      $("#no_of_printer").attr({
         "max" : value
      })
      calculation();
      total_calculation();
    } else if(['6','7','8','9','10'].includes(value)) {
      $("#period_yearly").prop('checked', true);
      $("#convert").text('Year')
      $("#money").text("159")
      $("#no_of_printer").attr({
         "max" : value
      });

      calculation();
      total_calculation();
    } else {
      $("#period_yearly").prop('checked', true);
      $("#convert").text('Year')
      $("#money").text("139")
      $("#no_of_printer").attr({
         "max" : value
      });
      calculation();
      total_calculation();
    }
  })

  function calculation() {
    total = $("#users").val() * $("#money").text()
    $("#total").text(total.toFixed(2))
    $("#total_price").val(total.toFixed(2))
  }

  function total_calculation() {
    total = ($("#users").val() * $("#money").text()) + ($("#no_of_printer").val() * $("#printer_money").text())
    $("#total_calculation").text(total.toFixed(2))
    $("#total_amount").val(total.toFixed(2))
  }
  $('input:radio[name="period"]').change(function() {
    //if ($("#users").val() == '1') {
      if ($(this).val() == 'monthly') {
        $("#convert").text('Month')
        $("#money").text("19.99")
        $("#users").val('1')
        $("#no_of_printer").val('1')
      } else {
        $("#convert").text('Year')
        $("#money").text("199")
      }
      calculation();
      total_calculation();
    //}
  });
</script>