<div class="row custom-table-position">
  <div class="well">
    <%= link_to 'New Objective', new_sheet_path %>
  </div>
  <br>
  <div class="well col-md-12 col-sm-12 col-xs-12 reports">
    <div class="col-md-8 col-sm-8 col-xs-8">
      <%= form_tag sheets_path, :method => "get",:remote=> true do %>
        <b>List of Subjects</b>
        <%= select_tag :subject, options_for_select(subjects),:prompt => "Select Subject", class: 'form-control subject_id' %><br>
        <div class="filter-subject"><%= render "objective_list" %></div>
      <% end %>
      <div class="form-group form-section">
        
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 student-list">
      <%#= render "children" %>
    </div>
  </div><br>
</div>
<script type="text/javascript">
  $(".subject_id").change(function(){
    $.ajax({
      data: { 'subject_id' : this.value },
      url: "<%= sheets_path %>",
      dataType: 'script',
      //orther options ...
      success: function(data){
          //$("#floors_select").html(data);
      }
    });
  })
</script>