<div class="row custom-table-position">
  <div class="well">
    <%= link_to 'New Objective', new_sheet_path %>
  </div>
  <br>
  <div class="well col-md-12 col-sm-12 col-xs-12 reports">
    <div class="col-md-8 col-sm-8 col-xs-8">
      <%= form_tag sheets_path, :method => "get",:remote=> true do %>
        <b>List of Subjects</b>
        <%= select_tag :subject, options_for_select(subjects),:prompt => "Select Subject", class: 'form-control subject_id' %><br>
        <div class="filter-subject"><%= render "objective_list" %></div>
      <% end %>
      <button type="button" class="btn btn-sm" style="float:right; display: none;" id="record-btn"><span>Record</span></button>
      <div class="form-group form-section">
        
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 student-list">
      <%= render "children" %>
    </div>
  </div><br>
</div>
<script type="text/javascript">
  $(".subject_id").change(function(){
    $.ajax({
      data: { 'subject_id' : this.value },
      url: "<%= sheets_path %>",
      dataType: 'script',
      //orther options ...
      success: function(data){
          //$("#floors_select").html(data);
      }
    });
  })
  var isRecording = false; 
  $("#record-btn").click(function(event){
    event.preventDefault();
    // if we're recording when the button is clicked
    if(isRecording) {
      annyang.abort();            // stop listening
      isRecording = false;          // set recording var to false
      $("span",this).text('Record');      // change btn text
      $(this).removeClass('btn-danger');    // turn off red class
      
    // if we're not recording when the button is clicked
    } else {
      //annyang.abort()
      annyang.start();            // start listening
      isRecording = true;           // set recording var to true
      $("span",this).text('Stop');      // change btn text
      $(this).removeClass('btn-primary');   // turn off blue class
      $(this).addClass('btn-danger');     // turn on red class
    }
  });

</script>