<div class="sheet-index-page">
  <div class="well">
    <%= link_to 'Add New MarkSheet', new_sheet_path %>
  </div>
  <br>
  <div class="col-md-12 col-sm-12 reports">
    <div class="col-md-8">
      <%= form_tag sheets_path, :method => "get",:remote=> true do %>
        <p>List of marksheets</p>
        <%= select_tag :sheet, options_for_select(sheets),:prompt => "Select Test", class: 'form-control sheet_subject_id' %>
      <% end %><br>
      <div class="form-group form-section">
        
      </div>
    </div>
    <div class="col-md-4 student-list">
      <%= render "children" %>
    </div>
  </div><br>
</div>
<script type="text/javascript">
  $(".sheet_subject_id").change(function(){
    $.ajax({
      data: { 'id' : this.value },
      url: "<%= fetch_children_sheets_path %>",
      //orther options ...
      success: function(data){
          //$("#floors_select").html(data);
      }
    });
  })
</script>