<div class="row custom-table-position">
  <div class="well col-md-12 col-sm-12 col-xs-12 reports">
    <div class="col-md-8 col-sm-8 col-xs-8">
      <%= form_tag sheets_path, :method => "get",:remote=> true do %>
        <b>List of Subjects</b>
        <%= select_tag :subject, options_for_select(subjects),:prompt => "Select Subject", class: 'form-control subject_id' %><br>
        <div class="filter-subject"><%= render "objective_list" %></div>
      <% end %>
      <button type="button" class="btn btn-sm" style="float:right; display: none;" id="record-btn"><span>Start Speech</span></button>
      <div class="form-group form-section">
        
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 student-list">
      <%= render "children" %>
    </div>
  </div><br>
</div>

<% if @sheet.present? %>
  <script type="text/javascript">
    $( document ).ready(function() { 
      subject_id = "<%= @sheet.subject.id %>" 
      sheet_id = "<%= @sheet.id %>"
      sendAjaxRequest({ 'subject_id' : subject_id }, "<%= sheets_path %>", 'script', false)
      $("#subject").val(subject_id)
      sendAjaxRequest({ 'id' : sheet_id }, "<%= fetch_children_sheets_path %>", '', false)
      $("#sheet").val(sheet_id)
    });
  </script>
<% end %>

<script type="text/javascript">
  $(".subject_id").change(function(){
    sendAjaxRequest({ 'subject_id' : this.value }, "<%= sheets_path %>", 'script', true)
  })

  var isRecording = false; 
  $("#record-btn").click(function(event){
    event.preventDefault();
    // if we're recording when the button is clicked
    if(isRecording) {
      annyang.abort();            // stop listening
      isRecording = false;          // set recording var to false
      $("span",this).text('Start Speech');      // change btn text
      $(this).removeClass('btn-danger');    // turn off red class
      
    // if we're not recording when the button is clicked
    } else {
      //annyang.abort()
      annyang.start();            // start listening
      isRecording = true;           // set recording var to true
      $("span",this).text('Stop');      // change btn text
      $(this).removeClass('btn-primary');   // turn off blue class
      $(this).addClass('btn-danger');     // turn on red class
    }
  });

  function sendAjaxRequest(data, url, data_type, is_async) {
    $.ajax({
      data: data,
      url: url,
      dataType: data_type,
      async: is_async,
      success: function(data){
      }
    });
  }
</script>
