<div class="row custom-table-position">
  <div class="row">
  <div class="col-md-7 col-md-offset-2">
    <div class="well">
      <h2>Mark Book </h2>
      <%= form_for @sheet, html: { style: "display:inline;" } do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= f.label :title %><br />
            <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Name', required: true %>
          </div>
          <div class="col-md-4">
            <%= f.label :date %><br />
            <%= f.date_field :date,  { class: 'form-control'}%>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :subject %><br />
        <%= f.select :subject_id, options_for_select(current_teacher.subjects.collect { |c| [c.name, c.id]}), {:prompt => "Select Subject"},  { class: 'form-control'} %>
      </div>
      <div class="form-group student-list">
        <%#= render "children" %>
      </div>
      <div class = "">
        <div class="actions">
          <%= f.submit  "Save", class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="well table-responsive">
      <b>Objectives List</b>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Subject</th>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% @objectives.each do |objective| %>
            <tr>
              <td><%= objective.title %></td>
              <td><%= objective.date.strftime('%d/%m/%Y') %></td>
              <td><%= objective.subject.name %></td>
              <td>
                <%= link_to 'Delete', sheet_path(objective), :method => :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-default" %>
                <%= link_to 'Mark', sheets_path(id: objective.id), class: "btn btn-default" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
  </div>
</div>

<script type="text/javascript">
  $("#sheet_subject_id").change(function(){
    var id = this.value
    $.ajax({
      data: { 'id' : this.value },
      url: "<%= fetch_children_subjects_path %>",
      //orther options ...
      success: function(data){
          //$("#floors_select").html(data);
      }
    });
  })
</script>