<div class="row custom-table-position">
  <div class="well col-md-12 col-sm-12 col-xs-12 reports">
    <div class="col-md-8 col-sm-8 col-xs-8">
      <%= form_tag sheets_path, :method => "get",:remote=> true do %>
        <b>List of Subjects</b>
        <%= select_tag :subject, options_for_select(['ENGLISH', 'MATHS'], 'ENGLISH'),:prompt => "Select Subject", class: 'form-control dummy_subject_id' %><br>
        <div class="filter-subject">
          <b>Previous Objectives</b>
          <%= select_tag :sheet, options_for_select(['ENGLISH TEST1', 'ENGLISH TEST2']),:prompt => "Select Objective", class: 'form-control sheet_subject_id' %><br>
        </div>
      <% end %>
      <button type="button" class="btn btn-sm" style="float:right;" id="record-btn"><span>Start Speech</span></button>
      <div class="form-group form-section">
        <form>
          <div class="col-md-12">
            <div class="col-md-10">
              <%= label_tag 'Denial', nil, :class => "control-label label-name" %>
              <%= text_area_tag :comment, '', class: 'form-control ckeditor2', rows: "5", id: "dictation_test"%>
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="button" class="btn btn-primary print-label" , id="print-label">Print Label</button>
              <button type="button" class="btn btn-primary print-label clear-label">Clear Label</button>
              <button type="button" class="btn btn-primary print-label">Save Label</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="col-sm-4 grade-abr">
              <% [['Mastery','A', 'green'], ['Good','AB', 'blue'], ['Excellent', 'A+', 'orange'], ['Poor', 'C', 'yellow']].each do |grade| %>
                <div class="radio radio-margin">
                  <label><%= radio_button_tag :grade_id , grade[0],false, "data-marks" => grade[1], onclick: "getGrade('#{grade[0]}', '#{grade[1]}', '#{grade[2]}')","data-grade" => grade[0].downcase, "data-color" => grade[2] %><%= grade[0] %></label>
                </div>
              <% end %>
            </div>
            <div class="col-md-6 col-sm-6 grade-margin">
              <h5>Current Grade</h5>
              <b><%= text_field_tag :marks, "", class: 'form-control text-size', disabled: true %></b>

            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4 student-list">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <% ['Denial', 'Dean', 'Michael', 'Thomas', 'Sachin', 'Hemant', 'Merry', 'Jacop' 'Weslay','Deepak', 'William', 'Smithson', 'Jessica'].each_slice(10) do |details| %>
                <td>
                  <% details.each do |detail| %>
                    <input type="checkbox" id="detail-id-<%= detail %>" class="multiple-child" onclick="selectMultipleChild('<%= detail %>')" value="<%= detail %>">
                    <%= link_to detail, '', id: detail, class: "child-name", remote: true %><br>
                  <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><br>
</div>

<script type="text/javascript">
  function selectMultipleChild(detailID){
    if ($("#detail-id-"+detailID).is(":checked")){
      $(".child-name").removeClass('active-child');
    }
  }

  function getGrade(name, abr, color){

    if ($("#grade_id_"+name).is(":checked")) {
      $(".text-size").val(abr)
      $(".text-size").css("background-color", color);
    }
  }
  initilize_data()

</script>