<div class="custom-table-position" style="margin-left: 200px;">
  <div class="row">
    <div class="col-md-4 well" style="width: 30%">
      <div class="text-center">Objectives</div>
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="">Total</div>
          <div class=""><%= @sheets.count %></div>            
        </div>
        <div class="col-md-6 text-center">
          <div class="">Last Month</div>
          <div class=""><%= @last_month_sheet_count %></div>            
        </div>
      </div>
    </div>
    <div class="col-md-4 well" style="width: 30%;margin-left: 16px">
      <div class="text-center">Subjects</div>
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="">Total</div>
          <div class=""><%= @subjects.count %></div>            
        </div>
        <div class="col-md-6 text-center">
          <div class="">Last Month</div>
          <div class=""><%= @last_month_subject_count %></div>            
        </div>
      </div>
    </div>
    <div class="col-md-4 well" style="width: 30%;margin-left: 16px">
      <div class="text-center">Children</div>            
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="">Total</div>
          <div class=""><%= @children.count %></div>      
        </div>
        <div class="col-md-6 text-center">
          <div class="">Last Month</div>
          <div class=""><%= @last_month_child_count %></div>            
        </div>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-6 well" style="width: 45%">
      <div class="text-center">Recent Objectives</div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Title</th>
              <th class="text-center">Created at</th>
              <th class="text-center">Date</th>
            </tr>
          </thead>
          <tbody>
            <% @recent_sheets.each do |sheet| %>
              <tr class="text-center">
                <td><%= sheet.title %></td>
                <td><%= sheet.created_at.strftime('%d/%m/%Y') %></td>
                <td><%= sheet.date.strftime('%d/%m/%Y') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 well" style="width: 45%;margin-left: 33px;">
      <div class="text-center">Recently Updated Markbook</div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Title</th>
              <th class="text-center">Child</th>
              <th class="text-center">Updated at</th>
            </tr>
          </thead>
          <tbody>
            <% @recent_details.each do |detail| %>
              <tr class="text-center">
                <td><%= detail.sheet.title %></td>
                <td><%= detail.child.name %></td>
                <td><%= detail.sheet.updated_at.strftime('%d/%m/%Y') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
