<!-- <div class="custom-table-position" style="margin-left: 380px;">
  <div class="row" style="padding-top: 25px;">
    <div class="col-md-6">
      <div><%= link_to(image_tag("Marking.png", height: "120px"), new_sheet_path) %></div>
      <div style="padding-left:24px; padding-top: 14px;">New Objective</div>
    </div>
    <div class="col-md-6">
      <%= link_to(image_tag("Markbook.png", height: "120px"), sheets_path) %>
      <div style="padding-left:24px; padding-top: 14px;">Markbook</div>
    </div>
  </div>
  <div class="row" style="padding-left: 174px;padding-top: 35px;">
    <div class="col-md-4">
      <%= link_to(image_tag("Children.png", height: "120px"), children_path) %>
    </div>
  </div>
  <div class="row" style="padding-top: 65px;">
    <div class="col-md-6">
      <%= link_to(image_tag("subjects.png", height: "120px"), subjects_path) %>
    </div>
    <div class="col-md-6">
      <%= link_to(image_tag("Reports.png", height: "120px"), report_sheets_path) %>
    </div>
  </div>
</div> -->
<div class="custom-table-position" style="margin-left: 200px;">
  <div class="">
    <div class="row col-md-12 col-sm-12">
      <div class="col-md-4">
        <%= link_to(image_tag("Marking.png", height: "120px"), new_sheet_path) %>
        <div style="padding-left:24px; padding-top: 14px;"><b>New Objective</b></div>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <%= link_to(image_tag("Markbook.png", height: "120px"), sheets_path) %>
        <div style="padding-left:24px; padding-top: 14px;"><b>Markbook</b></div>
      </div>
      <div class="col-md-4" style="text-align: right;">
        <%= link_to(image_tag("Reports.png", height: "120px"), report_sheets_path) %>
        <div style="padding-left:28px; padding-top: 14px;"><b>Assessment</b></div>
      </div>
    </div>
    <div class="row col-md-12 col-sm-12" style="margin-top: 40px;">
      <div class="col-md-2">
      </div>
      <div class="col-md-3" style="text-align: center;">
        <%= link_to(image_tag("Children.png", height: "120px"), children_path) %>
        <div style="padding-left:24px; padding-top: 14px;"><b>Children</b></div>
      </div>
      <div class="col-md-2" style="text-align: right;">
        
      </div>
      <div class="col-md-3">
        <%= link_to(image_tag("subjects.png", height: "120px"), subjects_path) %>
        <div style="padding-left:44px; padding-top: 14px;"><b>Classes</b></div>
      </div>
      <div class="col-md-2" style="text-align: right;">
        
      </div>
    </div>
  </div>
</div>