<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="error_section">
      </div>
      <%= form_for @subject, remote: true, html: { style: "display:inline;" } do |f| %>
        <div class="modal-body">
          <ul class="errors"></ul>
          <div class="form-group">
            <%= f.label 'Subject Name', class:"control-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.fields_for :grades do |builder| %>
              <%= render 'grade', f: builder %>
              <br>
            <% end %>
              <%= link_to_add_fields 'Add Grade', f, :grades %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit class: "btn btn-primary" %>
          <%= link_to "Cancel", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
