<fieldset>
  <div class="form-group">
    <div class="col-sm-3">
      <%= f.text_field :name, placeholder: "Ex: Mastery", class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :marks, placeholder: "Ex: 1", class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :abr, placeholder: "Ex: A", class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= f.hidden_field :_destroy %>
      <%= link_to 'remove', '#', class: "remove_fields btn btn-danger" %>
    </div>
  </div>
</fieldset><br>