
<div class="custom-table-position" style="margin-left: 200px;">
  <% if current_teacher.subscriptions.is_active.first.present?%>
    <div class="well">
      <h1>Your current plan is: <%= current_teacher.subscriptions.is_active.first.try(:subscription_type).try(:name) %></h1>
    </div>
  <% else %>
    <div class="">
      <div class="row col-md-12 col-sm-12">
        <div class="col-md-6">
          <div style="padding-left:24px; padding-top: 14px;"><%#= link_to 'Individual Plan', new_subscription_path(type: 1) %>
            <%= link_to(image_tag("individual.png"), new_subscription_path(subscription_id: 1)) %>
          </div>
          
        </div>
        <div class="col-md-6" style="text-align: center;">
          <div style="padding-left:24px; padding-top: 14px;">
            <div><%= link_to(image_tag("5users.png"), new_subscription_path(subscription_id: 2)) %></div>
          </div>
        </div>
      </div>
      <div class="row col-md-12 col-sm-12" style="margin-top: 40px;">
        <div class="col-md-6">
          <div style="padding-left:24px; padding-top: 14px;"><div><%= link_to(image_tag("10users.png"), new_subscription_path(subscription_id: 3)) %></div></div>
        </div>
        <div class="col-md-6" style="text-align: center;">
          <div style="padding-left:24px; padding-top: 14px;"><div><%= link_to(image_tag("20users.png"), new_subscription_path(subscription_id: 4)) %></div></div>
        </div>
      </div>
    </div>
  <% end %>
</div>