<div class="row">
  <div class="col-md-4">
    <div class="well-signup">
      <div class="form-group" style="text-align: center;">
        <%= image_tag("sign_in_logo_MarkMatelogo.png", style: "") %>
      </div>
      <div class="test" style="display: none; color: red;">Your current browser is not supported. Please use Google Chrome to activate voice recognition.</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <div class="actions">
        <%= f.submit  "Login", class: 'btn btn-primary pull-right' %>
      </div>
      <% end %>
      <%= render "teachers/shared/links" %>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <div class="well" style="margin-top: 0px !important">
      <div class="feedgrabbr_widget" id="fgid_e9ccf45bdeb3dd387e6b098b2"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_e9ccf45bdeb3dd387e6b098b2");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
    </div>
    <div class="pull-right" style="padding-bottom: 20px;">
      <%= link_to 'Report a Bug', "http://www.markmate.co.uk/contact", target: :_blank, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  if (!annyang) {
    $('.test').show();
  }else {
    $('.test').hide();
  }
</script>
